
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div> 
        <h3>You have successfully logged out.</h3>
        @Html.ActionLink("Go to Homepage","Index")
    </div>
</body>
</html>
